@model IEnumerable<Equipe>

@foreach (var e in Model ?? Enumerable.Empty<Equipe>())
{
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6> @e.EquipeNome</h6>
        </div>

        <div class="card-body">
            <table class="table table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 40%;">Nome</th>
                        <th scope="col" style="width: 15%;">Coops</th>
                        <th scope="col" style="width: 15%;">Firewalls</th>
                        <th scope="col" style="width: 15%;">Computadores</th>
                        <th scope="col" style="width: 15%;">Servidores</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in e.RespCoops ?? Enumerable.Empty<RespCoop>())
                    {
                        <tr>
                            <td>@r?.RespNome</td>
                            <td>@r?.ReturnCoops()</td>
                            <td>@r?.ReturnFirewalls()</td>
                            <td>@r?.ReturnCompts()</td>
                            <td>@r?.ReturnServers()</td>
                        </tr>
                    }
                    <tr>
                        <th scope="col" style="width: 40%;">Total</th>
                        <th scope="col" style="width: 15%;">@e.ReturnCoops()</th>
                        <th scope="col" style="width: 15%;">@e.ReturnFirewalls()</th>
                        <th scope="col" style="width: 15%;">@e.ReturnCompts()</th>
                        <th scope="col" style="width: 15%;">@e.ReturnServers()</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
