@model IEnumerable<NavigationMenuInfo>
<div class="d-grid gap-2">
    @foreach (var item in Model ?? Enumerable.Empty<NavigationMenuInfo>())
    {
        <a class="btn @(item.Controller == ViewBag.SelectedMenu ? "btn-secondary" : "btn-outline-secondary")"
        asp-action="@item.Action"  
        asp-controller="@item.Controller">
            <i class=" @item.Icone"></i>
            @item.Label
        </a>
    }
</div>
